<div class="w-full overflow-x-auto" style="scrollbar-width: none; -ms-overflow-style: none;">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% @properties.find_each do |property| %> 
      <%= render "properties/property_item", property: property%>
    <% end %>
  </div>
</div>
